{%- assign preload_value = preload | default: 'none' -%}
{% unless poster contains 'https://' %}
  {%- assign poster = poster | default: video_url.preview_image.src -%}
  {%- assign poster = poster | img_url: 'master' -%}
{% endunless %}
{%- if video_url contains 'https://' %}
  {%- assign video_url = video_url -%}
{%- else %}
  {%- assign video_url = video_url.sources.last.url | prepend: 'https:' -%}
{%- endif %}
{%- assign autoplay = autoplay | default: true -%}
{%- assign loop = loop | default: true -%}
{%- assign muted = muted | default: true -%}
{%- assign playsinline = playsinline | default: true -%}

<video
  preload="{{ preload_value }}"
  {%- if id %}
    id="{{ id }}"
  {%- endif %}
  class="lazy-video {{ class_name }}"
  {%- if loop %}
    loop
  {%- endif %}
  {%- if muted %}
    muted
  {%- endif %}
  {%- if autoplay %}
    autoplay
  {%- endif %}
  {%- if playsinline %}
    playsinline
  {%- endif %}
  {%- if width %}
    width="{{ width }}"
  {%- endif %}
  {%- if height %}
    height="{{ height }}"
  {%- endif %}
  poster="{{ poster }}"
>
  <source data-src="{{ video_url }}" type="video/mp4">
  <p>Your browser doesn't support HTML video. Here is a <a href="{{ video_url }}">link to the video</a> instead.</p>
</video>
